.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.content-center {
  display: flex;
  justify-content: center;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  width: 350px;
  padding: 0px 20px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.add-button {
  border: 1px solid blue;
  border-radius: 20px;
  background-color: blue;
  color: white;
  padding: 13px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
}

.add-button:hover {
  background-color: #00005c;
}